@use '../base/screen-widths';

.container {
  position: absolute;
  height: 24rem;
  width: 18rem;
  color: colors.$text-white;
  text-align: center;
  display: grid;
  padding-bottom: 1rem;

  @media screen and (max-width: screen-widths.$med-width) {
    width: 45%;
    height: 80%;
  }

  @media screen and (max-width: screen-widths.$sm-width) {
    width: 65%;
    height: 80%;
  }

  @media screen and (max-width: 650px) {
    height: 80%;
  }

  @media screen and (max-width: screen-widths.$sm-width) and (orientation: landscape) {
    width: 65%;
    height: 80%;
  }

  @media screen and (max-width: screen-widths.$xs-width) {
    width: 90%;
    height: 75%;
  }
}
