@use '../base/colors';

footer {
  position: absolute;
  background-color: colors.$bg-gray;
  bottom: 0;
  height: 2.1rem;
  width: 100%;
  z-index: 11;
  color: white;
  font-size: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    padding: 0 0.2rem;
  }

  a {
    color: colors.$link-blue;
  }

  a:hover,
  a:active {
    color: white;
  }

  #dev-credit {
    font-size: 0.7rem;
  }

  @media screen and (max-width: 1200px) {
    height: 2.3rem;
    display: grid;

    p {
      font-size: 0.6rem;
    }

    #dev-credit {
      text-align: center;
    }
  }

  @media screen and (max-width: 900px) {
    height: 3.4rem;
  }
}
