// https://mycolor.space/gradient3?ori=to+right+top&hex=%23383369&hex2=%23F08846&hex3=%2365B7F6&submit=submit

$s1: #383369;
$s2: #6a3974;
$s3: #983f75;
$s4: #c04a6d;
$s5: #dd5f5e;
$s6: #e9686d;
$s7: #f4717c;
$s8: #ff7a8b;
$s9: #f282bc;
$s10: #ce95e3;
$s11: #9ba8f7;
$s12: #65b7f6;

// https://graphicdesign.stackexchange.com/questions/83866/generating-a-series-of-colors-between-two-colors/83869
// https://stackoverflow.com/questions/13488957/interpolate-from-one-color-to-another
