html {
  font-family: "Inter", sans-serif;
  font-size: 16px;

  // fluid typography:
  // https://www.smashingmagazine.com/2016/05/fluid-typography/
  // https://css-tricks.com/snippets/css/fluid-typography/
  @media screen and (min-width: 280px) {
    font-size: calc(16px + 8 * ((100vw - 280px) / 680));
  }

  @media screen and (min-width: 1000px) {
    font-size: 24px;
  }
}

.font-bold {
  font-weight: bold;
}

.font-xs {
  font-size: 0.5rem;
}

.font-sm {
  font-size: 1rem;
}

.font-med {
  font-size: 1.5rem;
}

.font-lg {
  font-size: 2rem;
}

.font-xl {
  font-size: 2.5rem;
}

.font-xs-sm {
  font-size: 0.8rem;

  @media screen and (min-width: 320px) {
    font-size: 1rem;
  }
}
