html {
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  font-family: "Inter", sans-serif;
}

/* .font-22px {
  font-size: 22px;
}

.font-24px {
  font-size: 24px;
}

.font-28px {
  font-size: 28px;
}

.font-48px {
  font-size: 48px;
}

.font-active {
  color: white;
}

.font-inactive {
  color: #e0e0e0;
} */

.font-bold {
  font-weight: bold;
}

/* .font-small {
  font-size: 0.5rem;
} */
