html {
  font-family: "Inter", sans-serif;
  // fluid typography: https://www.smashingmagazine.com/2016/05/fluid-typography/
  font-size: calc(16px + (24px - 16) * (100vw - 400px) / (800 - 400));
}

.font-bold {
  font-weight: bold;
}

.font-xs {
  font-size: 2.5vw;
}

.font-sm {
  font-size: 4.5vw;
}

.font-med {
  font-size: 6.5vw;
}

.font-lg {
  font-size: 8.5vw;
}

.font-xl {
  font-size: 10.5vw;
}

@media screen and (orientation: landscape) {
  .font-xs {
    font-size: 2.5vh;
  }

  .font-sm {
    font-size: 4.5vh;
  }

  .font-med {
    font-size: 6.5vh;
  }

  .font-lg {
    font-size: 8.5vh;
  }

  .font-xl {
    font-size: 10.5vh;
  }
}

@media screen and (orientation: landscape) and (min-width: 674px) {
  .font-xs {
    font-size: 1.5vh;
  }

  .font-sm {
    font-size: 3.5vh;
  }

  .font-med {
    font-size: 5.5vh;
  }

  .font-lg {
    font-size: 7.5vh;
  }

  .font-xl {
    font-size: 9.5vh;
  }
}

@media screen and (min-width: 1024px) and (min-height: 768px) {
  .font-xs {
    font-size: 1.5vh;
  }

  .font-sm {
    font-size: 2.5vh;
  }

  .font-med {
    font-size: 3.5vh;
  }

  .font-lg {
    font-size: 4.5vh;
  }

  .font-xl {
    font-size: 5.5vh;
  }
}
