.hidden {
  display: none !important;
}

.transparent-dark-background {
  background: rgba(0, 0, 0, 0.3);
}

.foreground {
  z-index: 10;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-radius {
  border-radius: 4px;
}

.margin-top {
  margin-top: 0.5rem;

  @media screen and (max-width: 1200px) {
    margin-top: 1rem;
  }
}

.grid {
  display: grid;
}

.display-block {
  display: block;
}

.half-opacity {
  opacity: 0.5;
}

.paused {
  animation-play-state: paused;
}

.container {
  // testing
  border: 1px solid black;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 60%;
  width: 80%;

  @media screen and (orientation: landscape) {
    top: 60%;
    transform: translate(-50%, -60%);
  }

  @media screen and (min-width: 600px) and (orientation: landscape) {
    width: 30%;
  }

  @media screen and (min-width: 1200px) and (orientation: landscape) {
    width: 25%;
  }
}
