.hidden {
  display: none !important;
}

.transparent-dark-background {
  background: rgba(0, 0, 0, 0.2);
}

.foreground {
  z-index: 10;
}

.foreground-max {
  z-index: 21;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-radius {
  border-radius: 4px;
}

.margin-top {
  margin-top: 0.8rem;
}

.grid {
  display: grid;
}

.display-block {
  display: block;
}

.half-opacity {
  opacity: 0.5;
}

.paused {
  animation-play-state: paused;
}

.visibility-visible {
  visibility: visible;
}

.visibility-hidden {
  visibility: hidden;
}
