.hidden {
  display: none !important;
}

.transparent-dark-background {
  background: rgba(0, 0, 0, 0.3);
}

.foreground {
  z-index: 10;
}

.foreground-max {
  z-index: 21;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-radius {
  border-radius: 4px;
}

.margin-top {
  /*  margin-top: 0.5rem;

  @media screen and (max-width: 1200px) {
    margin-top: 1rem;
  } */
  margin-top: 4vw;

  @media screen and (orientation: landscape) {
    margin-top: 4vh;
  }
}

.grid {
  display: grid;
}

.display-block {
  display: block;
}

.half-opacity {
  opacity: 0.5;
}

.paused {
  animation-play-state: paused;
}
