* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  position: relative;
}
@media screen and (max-height: 700px) {
  body {
    height: 700px;
  }
}

html {
  font-size: calc(16px + (26 - 16) * ((100vw - 300px) / (1600 - 300)));
  font-family: "Inter", sans-serif;
}

/* .font-22px {
  font-size: 22px;
}

.font-24px {
  font-size: 24px;
}

.font-28px {
  font-size: 28px;
}

.font-48px {
  font-size: 48px;
}

.font-active {
  color: white;
}

.font-inactive {
  color: #e0e0e0;
} */
.font-bold {
  font-weight: bold;
}

/* .font-small {
  font-size: 0.5rem;
} */
.hidden {
  display: none !important;
}

.transparent-dark-background {
  background: rgba(0, 0, 0, 0.3);
}

.foreground {
  z-index: 10;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-radius {
  border-radius: 4px;
}

.margin-top {
  margin-top: 0.5rem;
}
@media screen and (max-width: 1200px) {
  .margin-top {
    margin-top: 1rem;
  }
}

.grid {
  display: grid;
}

.display-block {
  display: block;
}

.half-opacity {
  opacity: 0.5;
}

.paused {
  animation-play-state: paused;
}

.search__container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  min-height: 40px;
  width: 16.45rem;
  height: 2.25rem;
  z-index: 10;
  justify-content: space-evenly;
}
@media screen and (max-width: 1200px) {
  .search__container {
    /* approx 20% bigger */
    height: 2.7rem;
  }
}

.search__input-container {
  width: 14.2rem;
  height: 1.6rem;
  border: 1px solid #4d4d4d;
  border-radius: 1rem;
  font-size: 0.8rem;
  padding: 0 0.5rem;
  background-color: white;
}
@media screen and (max-width: 1200px) {
  .search__input-container {
    /* approx 20% bigger */
    height: 1.9rem;
    font-size: 0.95rem;
    padding: 0 0.6rem;
    border-radius: 1.2rem;
  }
}
.search__input-container i {
  color: gray;
  margin: 0 0.35rem;
  font-size: 0.6rem;
}
@media screen and (max-width: 1200px) {
  .search__input-container i {
    /* approx 20% bigger */
    margin: 0 0.4rem;
    font-size: 0.7rem;
  }
}
.search__input-container input {
  border: none;
  height: 1.4rem;
  width: 14rem;
  font-size: 0.6rem;
}
@media screen and (max-width: 1200px) {
  .search__input-container input {
    /* approx 20% bigger */
    height: 1.7rem;
    font-size: 0.7rem;
  }
}
.search__input-container input:focus,
.search__input-container input:active {
  outline: none;
}

.loader__container {
  background-color: #4d4d4d;
  z-index: 10;
}
.loader__container span {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader__container i {
  font-size: 2.4rem;
}

.error__container {
  margin: 0 1rem;
}
.error__container p {
  margin-bottom: 1rem;
}

.error__btn {
  margin: 0.4rem;
}

.btn {
  border: 1px;
  font-size: 0.6rem;
  font-family: "Inter", sans-serif;
  color: #4d4d4d;
  border: 1px solid #4d4d4d;
  cursor: pointer;
}

.btn-rect {
  height: 2rem;
  width: 4.4rem;
}

.btn-round {
  height: 1.45rem;
  width: 1.45rem;
  border-radius: 50%;
}

.btn:active:enabled,
.btn:hover:enabled,
.btn:focus:enabled {
  outline: none;
  background-color: white;
}

.btn:disabled {
  cursor: default;
}

@media screen and (max-width: 1200px) {
  .btn {
    font-size: 0.7rem;
  }

  .btn-rect {
    height: 2.4rem;
    width: 5.3rem;
  }

  .btn-round {
    height: 1.7rem;
    width: 1.75rem;
  }
}
@media screen and (max-width: 850px) {
  .btn {
    font-size: 0.8rem;
  }

  .btn-rect {
    height: 2.7rem;
    width: 5.95rem;
  }

  .btn-round {
    height: 1.9rem;
    width: 1.9rem;
  }
}
.container {
  position: absolute;
  height: 24rem;
  width: 18rem;
  color: white;
  text-align: center;
  display: grid;
  padding-bottom: 1rem;
}
@media screen and (max-width: 1200px) {
  .container {
    width: 45%;
    height: 80%;
  }
}
@media screen and (max-width: 850px) {
  .container {
    width: 65%;
    height: 80%;
  }
}
@media screen and (max-width: 650px) {
  .container {
    height: 80%;
  }
}
@media screen and (max-width: 850px) and (orientation: landscape) {
  .container {
    width: 65%;
    height: 80%;
  }
}
@media screen and (max-width: 500px) {
  .container {
    width: 90%;
    height: 75%;
  }
}

footer {
  position: absolute;
  background-color: #4d4d4d;
  bottom: 0;
  height: 2.1rem;
  width: 100%;
  z-index: 11;
  color: white;
  font-size: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer p {
  padding: 0 0.2rem;
}
footer a {
  color: #4287f5;
}
footer a:hover,
footer a:active {
  color: white;
}
footer #dev-credit {
  font-size: 0.7rem;
}
@media screen and (max-width: 1200px) {
  footer {
    height: 2.3rem;
    display: grid;
  }
  footer p {
    font-size: 0.6rem;
  }
  footer #dev-credit {
    text-align: center;
  }
}
@media screen and (max-width: 900px) {
  footer {
    height: 3.4rem;
  }
}

html {
  scroll-behavior: smooth;
  overflow: hidden;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}
html input::-webkit-outer-spin-button,
html input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
html input[type=number] {
  -moz-appearance: textfield;
}
@media screen and (max-height: 760px) {
  html {
    overflow: scroll;
  }
}

#weather__section {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #65b7f6;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#weather__section .weather__controls {
  position: absolute;
  top: 1%;
  left: 90%;
  display: flex;
}
@media screen and (max-width: 300px) and (orientation: protrait) {
  #weather__section .weather__controls button {
    display: hidden;
  }
}
#weather__section .weather__temperature {
  font-size: 2rem;
}
#weather__section .weather__date,
#weather__section .weather__clock {
  font-size: 0.8rem;
}
#weather__section .weather__clock {
  font-family: "Inconsolata", monospace;
}
#weather__section .weather__icon {
  font-size: 2.4rem;
}
#weather__section .container-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

#weather__background {
  position: absolute;
  margin-top: 20rem;
  overflow: hidden;
}

@media screen and (max-width: 1200px) and (orientation: portrait) {
  #weather__section .weather__location,
#weather__section .weather__temperature {
    font-size: 2.4rem;
  }
  #weather__section .weather__clock,
#weather__section .weather__date,
#weather__section .weather__temperature--detail {
    font-size: 1.1rem;
  }
  #weather__section .weather__icon {
    font-size: 2.9rem;
  }
  #weather__section .weather__status {
    font-size: 1.8rem;
  }
}
.settings__toggle {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5rem;
  z-index: 10;
  font-size: 1rem;
  border: 1px solid #4d4d4d;
  /* needs fixing */
}
.settings__toggle i {
  /* manual off-set to center button due to font-awesome wonkyness */
  color: #4d4d4d;
  padding-top: 0.15rem;
}
.settings__toggle :disabled {
  border: 1px solid #4d4d4d;
}
.settings__toggle :disabled i {
  opacity: 0.5;
}

.settings__container {
  z-index: 10;
  background-color: #4d4d4d;
}

.settings__menu {
  width: 100%;
  height: 50%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: none;
  margin: 1.6rem auto;
}
.settings__menu p {
  font-size: 0.4rem;
}

.settings__button-container {
  display: grid;
  justify-items: center;
}

.settings__icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.settings__icon-container i {
  font-size: 4rem;
}

.settings__button {
  margin: 0.2rem auto;
}

.cloud {
  z-index: 1;
  position: absolute;
  top: 0;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  overflow: hidden;
}

.cloud::selection,
.particle::selection {
  color: none;
  background: none;
}

/* For Mozilla Firefox */
.cloud::-moz-selection,
.particle::-moz-selection {
  color: none;
  background: none;
}

.fade {
  animation: fade 60s;
}

.speed-1 {
  animation-name: cloud-speed-1;
}

.speed-2 {
  animation-name: cloud-speed-2;
}

.speed-3 {
  animation-name: cloud-speed-3;
}

.speed-4 {
  animation-name: cloud-speed-4;
}

.speed-5 {
  animation-name: cloud-speed-5;
}

.rain {
  animation-name: raining;
}

.snow {
  animation-name: snowing;
}

.particle {
  font-size: 5px;
  position: absolute;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  color: #e8e8e8;
  z-index: 1;
}

.lightning {
  background: #f2f2f2;
  opacity: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.lightning-animation {
  animation: flash 2s linear;
}

.atmosphere {
  position: absolute;
  overflow: hidden;
  animation: shifting 12s linear infinite;
  width: 100%;
  left: 0;
  bottom: -10%;
}

.layer-1 {
  height: 90%;
}

.layer-2 {
  height: 70%;
  animation-delay: 1s;
}

.fog-1 {
  background: linear-gradient(to top, #f2f2f2, rgba(242, 242, 242, 0));
}

.fog-2 {
  background: linear-gradient(to top, #dedede, rgba(222, 222, 222, 0));
}

.sand-1 {
  background: linear-gradient(to top, rgba(227, 209, 179, 0.5), rgba(227, 209, 179, 0));
}

.sand-2 {
  background: linear-gradient(to top, rgba(186, 171, 147, 0.5), rgba(186, 171, 147, 0));
}

.loading {
  animation-name: loader-spin;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes cloud-speed-1 {
  from {
    left: -20%;
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  to {
    left: 60%;
    opacity: 0;
  }
}
@keyframes cloud-speed-2 {
  from {
    left: -20%;
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  to {
    left: 70%;
    opacity: 0;
  }
}
@keyframes cloud-speed-3 {
  from {
    left: -20%;
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  to {
    left: 80%;
    opacity: 0;
  }
}
@keyframes cloud-speed-4 {
  from {
    left: -20%;
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  to {
    left: 90%;
    opacity: 0;
  }
}
@keyframes cloud-speed-5 {
  from {
    left: -20%;
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  to {
    left: 100%;
    opacity: 0;
  }
}
@keyframes cloud-movement {
  from {
    left: -20%;
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  to {
    left: 100%;
    opacity: 0;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes raining {
  from {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  to {
    top: 99%;
    opacity: 0;
  }
}
@keyframes snowing {
  from {
    opacity: 0;
  }
  10% {
    opacity: 1;
    transform: translateX(-150%);
  }
  40% {
    transform: translateX(250%);
  }
  70% {
    transform: translateX(-150%);
  }
  90% {
    opacity: 1;
    transform: translateX(250%);
  }
  to {
    opacity: 0;
    top: 99%;
  }
}
@keyframes flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes shifting {
  20% {
    bottom: -5%;
  }
  40% {
    bottom: 0%;
  }
  60% {
    bottom: -5%;
  }
  80% {
    bottom: -10%;
  }
  90% {
    bottom: -5%;
  }
  100% {
    bottom: -10%;
  }
}
@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.forecast__container {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 1rem;
  padding-left: 0.4rem;
}
.forecast__container .forecast__title {
  margin-top: 1rem;
  font-size: 1.2rem;
}
.forecast__container .forecast__subcontainer:not(:last-of-type) {
  margin-right: 0.4rem;
  border-right: 1px solid white;
}
.forecast__container p,
.forecast__container i {
  font-size: 0.8rem;
  padding-right: 0.4rem;
}
.forecast__container .forecast__container--low-temp {
  color: #e0e0e0;
}

@media screen and (max-width: 1200px) {
  .forecast__container {
    padding-left: 0.5rem;
  }
  .forecast__container .forecast__title {
    margin-top: 1.2rem;
    font-size: 1.45rem;
  }
  .forecast__container .forecast__subcontainer:not(:last-of-type) {
    margin-right: 0.5rem;
  }
  .forecast__container p,
.forecast__container i {
    font-size: 0.95rem;
    padding-right: 0.5rem;
  }
}
@media screen and (max-width: 500px) {
  .forecast__container p,
.forecast__container i {
    font-size: 0.8rem;
    padding-right: 0.4rem;
  }
}

/*# sourceMappingURL=style.css.map */
