* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-bold {
  font-weight: bold;
}

.hidden {
  display: none !important;
}

.transparent-dark-background {
  background: rgba(0, 0, 0, 0.3);
}

.foreground {
  z-index: 10;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-radius {
  border-radius: 4px;
}

.margin-top {
  margin-top: 0.5rem;
}
@media screen and (max-width: 1200px) {
  .margin-top {
    margin-top: 1rem;
  }
}

.grid {
  display: grid;
}

.display-block {
  display: block;
}

.half-opacity {
  opacity: 0.5;
}

.paused {
  animation-play-state: paused;
}

.btn {
  border: 1px;
  font-family: "Inter", sans-serif;
  color: #4d4d4d;
  border: 1px solid black;
  cursor: pointer;
}

.btn-square {
  height: 1.5rem;
  width: 1.5rem;
}

/* .btn-rect {
  height: 2rem;
  width: 4.4rem;
}

.btn-round {
  height: 1.45rem;
  width: 1.45rem;
  border-radius: 50%;
} */
.btn:active:enabled,
.btn:hover:enabled,
.btn:focus:enabled {
  outline: none;
  background-color: white;
}

.btn:disabled {
  cursor: default;
}

.nav {
  position: absolute;
  height: 3rem;
  width: 100%;
  background-color: #4d4d4d;
  display: grid;
  grid-template-columns: 75% 25%;
}
.nav i,
.nav button,
.nav input {
  font-size: 0.8rem;
}

.nav__container {
  display: flex;
  align-items: center;
}

.nav__search-container {
  justify-content: start;
}
.nav__search-container i {
  padding-left: 0.4rem;
  color: white;
}
.nav__search-container input,
.nav__search-container button {
  margin-left: 0.2rem;
}
.nav__search-container input {
  height: 1.5rem;
  width: 10rem;
}

.nav__buttons-container {
  justify-content: flex-end;
}
.nav__buttons-container button {
  margin-right: 0.6rem;
}

.nav__toggle {
  z-index: 10;
  margin-right: 0.8rem;
}

@media screen and (max-width: 300px) {
  .nav {
    grid-template-columns: 83% 17%;
  }

  .nav__buttons-container button {
    margin-right: 0.1rem;
  }

  .nav__toggle {
    margin-right: 0.2rem;
  }
}
.animations__container {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #65b7f6;
  overflow: hidden;
  position: relative;
}

.animations__foreground-image {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
}
@media screen and (orientation: landscape) {
  .animations__foreground-image {
    bottom: -100%;
  }
}
@media screen and (orientation: landscape) and (min-height: 300px) {
  .animations__foreground-image {
    bottom: -80%;
  }
}
@media screen and (orientation: landscape) and (min-height: 500px) {
  .animations__foreground-image {
    bottom: -50%;
  }
}
@media screen and (min-height: 900px) and (min-width: 1400px) {
  .animations__foreground-image {
    bottom: -75%;
  }
}
@media screen and (min-height: 900px) and (orientation: portrait) {
  .animations__foreground-image {
    bottom: 0;
  }
}

.cloud {
  z-index: 1;
  position: absolute;
  top: 0;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  overflow: hidden;
}

.cloud::selection,
.particle::selection {
  color: none;
  background: none;
}

/* For Mozilla Firefox */
.cloud::-moz-selection,
.particle::-moz-selection {
  color: none;
  background: none;
}

.fade {
  animation: fade 60s;
}

.speed-1 {
  animation-name: cloud-speed-1;
}

.speed-2 {
  animation-name: cloud-speed-2;
}

.speed-3 {
  animation-name: cloud-speed-3;
}

.speed-4 {
  animation-name: cloud-speed-4;
}

.speed-5 {
  animation-name: cloud-speed-5;
}

.rain {
  animation-name: raining;
}

.snow {
  animation-name: snowing;
}

.particle {
  font-size: 5px;
  position: absolute;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  color: #e8e8e8;
  z-index: 1;
}

.lightning {
  background: #f2f2f2;
  opacity: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.lightning-animation {
  animation: flash 2s linear;
}

.atmosphere {
  position: absolute;
  overflow: hidden;
  animation: shifting 12s linear infinite;
  width: 100%;
  left: 0;
  bottom: -10%;
}

.layer-1 {
  height: 90%;
}

.layer-2 {
  height: 70%;
  animation-delay: 1s;
}

.fog-1 {
  background: linear-gradient(to top, #f2f2f2, rgba(242, 242, 242, 0));
}

.fog-2 {
  background: linear-gradient(to top, #dedede, rgba(222, 222, 222, 0));
}

.sand-1 {
  background: linear-gradient(to top, rgba(227, 209, 179, 0.5), rgba(227, 209, 179, 0));
}

.sand-2 {
  background: linear-gradient(to top, rgba(186, 171, 147, 0.5), rgba(186, 171, 147, 0));
}

.loading {
  animation-name: loader-spin;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes cloud-speed-1 {
  from {
    left: -20%;
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  to {
    left: 60%;
    opacity: 0;
  }
}
@keyframes cloud-speed-2 {
  from {
    left: -20%;
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  to {
    left: 70%;
    opacity: 0;
  }
}
@keyframes cloud-speed-3 {
  from {
    left: -20%;
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  to {
    left: 80%;
    opacity: 0;
  }
}
@keyframes cloud-speed-4 {
  from {
    left: -20%;
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  to {
    left: 90%;
    opacity: 0;
  }
}
@keyframes cloud-speed-5 {
  from {
    left: -20%;
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  to {
    left: 100%;
    opacity: 0;
  }
}
@keyframes cloud-movement {
  from {
    left: -20%;
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  to {
    left: 100%;
    opacity: 0;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes raining {
  from {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  to {
    top: 99%;
    opacity: 0;
  }
}
@keyframes snowing {
  from {
    opacity: 0;
  }
  10% {
    opacity: 1;
    transform: translateX(-150%);
  }
  40% {
    transform: translateX(250%);
  }
  70% {
    transform: translateX(-150%);
  }
  90% {
    opacity: 1;
    transform: translateX(250%);
  }
  to {
    opacity: 0;
    top: 99%;
  }
}
@keyframes flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes shifting {
  20% {
    bottom: -5%;
  }
  40% {
    bottom: 0%;
  }
  60% {
    bottom: -5%;
  }
  80% {
    bottom: -10%;
  }
  90% {
    bottom: -5%;
  }
  100% {
    bottom: -10%;
  }
}
@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=style.css.map */
