@use '../abstracts/variables';
@use '../base/colors';

.container {
  position: absolute;
  padding: 1rem;
}

.animations__container {
  width: 100vw;
  height: variables.$min-height;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: colors.$sky-blue;
  overflow: hidden;
  position: relative;

  @media screen and (min-height: variables.$min-height) {
    height: 100vh;
  }
}
