@use '../base/colors';

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  height: 80vh;
  width: 100%;

  @media screen and (orientation: landscape) {
    top: 110%;
    transform: translate(-50, -110%);
    height: 160vh;
    width: 45%;
    /* height: 170vh;
    width: 40vw; */
  }

  @media screen and (orientation: landscape) and (min-height: 500px) {
    height: 90vh;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  @media screen and (orienation: landscape) and (min-height: 768px) {
    height: 70vh;
  }
  // positioning
  /* @media screen and (orientation: landscape) {
    top: 80%;
    transform: translate(-50%, -80%);
  }

  @media screen and (orientation: landscape) and (max-height: 280px) {
    height: 85%;
  }

  @media screen and (orientation: landscape) and (min-height: 500px) {
    top: 60%;
    transform: translate(-50%, -60%);
  }

  @media screen and (orientation: landscape) and (min-height: 700px) {
    top: 50%;
    transform: translate(-50%, -50%);
  }

  // vertical scaling
  @media screen and (orientation: portrait) and (min-height: 640px) {
    height: 75%;
  }

  @media screen and (orientation: portrait) and (min-height: 730px) {
    height: 65%;
  }

  @media screen and (orientation: portrait) and (min-height: 820px) {
    height: 60%;
  }

  @media screen and (orientation: landscape) and (min-height: 360px) {
    height: 70%;
  }

  @media screen and (orientation: landscape) and (min-height: 500px) {
    height: 60%;
  }

  @media screen and (orientation: landscape) and (min-height: 700px) {
    height: 50%;
  }

  // horizontal scaling
  @media screen and (orientation: landscape) and (min-width: 600px) {
    width: 70%;
  }

  @media screen and (orientation: landscape) and (min-width: 800px) {
    width: 60%;
  }

  @media screen and (orientation: landscape) and (min-width: 1200px) {
    width: 30%;
    height: 55%;
  }

  @media screen and (orientation: portrait) and (min-width: 500px) {
    width: 65%;
  }

  @media screen and (min-width: 1440px) and (min-height: 900px) {
    height: 60%;
    width: 20%;
  } */
}

.animations__container {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: colors.$sky-blue;
  overflow: hidden;
  position: relative;

  @media screen and (orientation: landscape) {
    height: 200vh;
  }

  @media screen and (orientation: landscape) and (min-height: 500px) {
    height: 100vh;
  }
}
