@use '../base/colors';

.btn {
  border: 1px;
  font-family: "Inter", sans-serif;
  color: colors.$bg-gray;
  border: 1px solid black;
  cursor: pointer;
  font-weight: bold;
}

.btn-square {
  height: 1.5rem;
  width: 1.5rem;
}

.btn-rect {
  height: 2rem;
  width: 6rem;
}

.btn:active:enabled,
.btn:hover:enabled,
.btn:focus:enabled {
  outline: none;
  background-color: colors.$text-white;
}

.btn:disabled {
  cursor: default;
}
