.btn {
  border: 1px;
  font-family: "Inter", sans-serif;
}

.btn-round {
  height: 1.45rem;
  width: 1.45rem;
  border-radius: 50%;
}

.btn:active,
.btn:hover,
.btn:focus {
  outline: none;
  border: none;
  background-color: white;
}
