@use '../base/colors';

footer {
  grid-template-columns: 1fr;
  position: relative;
  color: white;
  background: colors.$bg-gray;
  height: 12rem;
  width: 280px;
  padding: 0.4rem;
  bottom: 0;

  a {
    color: colors.$link-blue;
  }

  a:hover,
  a:active {
    color: white;
  }

  #privacy {
    display: flex;
    align-items: center;
  }

  #dev-credit,
  #dev-link {
    text-align: center;
  }

  @media screen and (min-width: 281px) {
    width: 100%;
    height: 9.5rem;
  }

  @media screen and (orientation: landscape) {
    height: 8rem;
  }

  @media screen and (min-width: 1200px) {
    grid-template-columns: 70% 30%;
    height: 4.2rem;
    align-items: center;

    #dev-credit {
      margin-top: 0;
    }

    #dev-credit,
    #dev-link {
      text-align: right;
    }
  }

  @media screen and (min-width: 2000px) {
    width: 2000px;
  }
}
