#loader {
  background-color: #4d4d4d;
  z-index: 10;

  span {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  i {
    font-size: 2.4rem;
  }
}

#error {
  margin: 0 1rem;
}

#continue {
  margin: 0.4rem auto;
}
