@use '../base/colors';

.nav {
  position: absolute;
  height: 3rem;
  width: 100%;
  background-color: colors.$bg-gray;
  display: grid;
  grid-template-columns: 75% 25%;
  border-bottom: 1px solid black;

  i,
  button,
  input {
    font-size: 0.8rem;
  }

  // fix font-awesome icons not centering on horizontal axis
  button {
    padding-top: 0.1rem;
  }

  @media screen and (orientation: landscape) and (max-height: 300px) {
    height: 2.5rem;
  }
}

.nav__container {
  display: flex;
  align-items: center;
}

.nav__search-container {
  justify-content: start;

  i {
    padding-left: 0.4rem;
    color: colors.$text-white;
  }

  input,
  button {
    margin-left: 0.2rem;
  }

  input {
    height: 1.5rem;
    width: 10rem;
  }
}

.nav__buttons-container {
  justify-content: flex-end;

  button {
    margin-right: 0.6rem;
  }
}

.nav__toggle {
  z-index: 21;
  margin-right: 0.8rem;
}

// XS screen support
@media screen and (max-width: 300px) {
  .nav {
    grid-template-columns: 83% 17%;
  }

  .nav__buttons-container {
    button {
      margin-right: 0.1rem;
    }
  }

  .nav__toggle {
    margin-right: 0.2rem;
  }
}

// larger screen support

@media screen and (min-width: 767px) {
  .nav {
    height: 3.5rem;

    i,
    button,
    input {
      font-size: 1.1rem;
    }
  }

  .nav__search-container {
    i {
      padding-left: 0.8rem;
      color: colors.$text-white;
    }

    input,
    button {
      margin-left: 0.4rem;
    }

    input {
      height: 2rem;
      width: 18rem;
      padding-left: 0.2rem;
    }
  }
}
