.search__container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  min-height: 40px;
  width: 16.45rem; //22.5rem
  height: 2.25rem; //2.5rem
  z-index: 10;
  justify-content: space-evenly;

  .search-bar {
    width: 14.2rem; //18rem
    height: 1.62rem; //1.8rem
    border: none;
    border-radius: 1rem;
    font-size: 0.81rem;
    padding: 0 0.5rem;
    background-color: white;

    i {
      color: gray;
      margin: 0 0.36rem; // 0.4rem
      font-size: 0.6rem;
    }

    input {
      border: none;
      height: 1.5rem;
      width: 14rem;
      font-size: 0.6rem;
    }

    input:focus,
    input:active {
      outline: none;
    }
  }
}
