/* #setup {
  position: absolute;
  background-color: white;
  width: 100%;
  z-index: 9;
}

#settings {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: #dfdfdf; //needs updating
  -webkit-text-stroke: 1px black;
  z-index: 10;
}

#settings:hover,
#settings:active {
  color: #fff;
  transition: 0.2s;
}
 */
