#weather {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .weather__container {
    position: absolute;
    height: 22rem;
    width: 15rem;
    color: white;
    text-align: center;

    #temperature {
      font-size: 2rem;
    }

    #date,
    #clock {
      font-size: 0.8rem;
    }

    #clock {
      font-family: "Inconsolata", monospace;
    }

    i {
      font-size: 2.4rem;
    }

    .container-flex {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    #weather-forecast {
      display: flex;
      justify-content: center;
      align-content: center;
      margin-top: 1rem;

      .forecast__container {
        p,
        i {
          font-size: 0.8rem;
          padding-right: 0.4rem;
        }

        .forecast__container--low {
          color: #e0e0e0;
        }
      }

      .forecast__container:not(:last-of-type) {
        margin-right: 0.4rem;
        border-right: 1px solid white;
      }
    }
  }
}

#credit {
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}
