@use '../base/colors';

.weather__container {
  @media screen and (orientation: landscape) and (max-height: 300px) {
    font-size: 85%;
  }

  @media screen and (orientation: landscape) and (min-height: 700px) {
    font-size: 150%;
  }

  @media screen and (orientation: portrait) and (min-height: 1000px) {
    font-size: 150%;
  }

  @media screen and (orientation: portrait) and (min-height: 1200px) {
    font-size: 200%;
  }

  @media screen and (orientation: landscape) {
    display: grid;
    grid-template-columns: 40% 60%;
  }

  @media screen and (orientation: landscape) and (min-height: 900px) {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.forecast__container {
  .forecast__subcontainer {
    p,
    i {
      @media screen and (orientation: landscape) and (min-height: 700px) {
        font-size: 80%;
      }

      @media screen and (orientation: portrait) and (min-height: 1000px) {
        font-size: 80%;
      }

      /*  @media screen and (orientation: portrait) and (min-height: 1200px) {
        font-size: 90%;
      } */
    }
  }
}

.weather__container {
  .forecast__container {
    .forecast__title {
      @media screen and (orientation: landscape) and (max-height: 280px) {
        margin-top: 0.5rem;
      }

      @media screen and (orientation: landscape) and (min-height: 700px) {
        font-size: 100%;
      }

      @media screen and (orientation: portrait) and (min-height: 1000px) {
        font-size: 120%;
      }

      /* @media screen and (orientation: portrait) and (min-height: 1200px) {
        font-size: 130%;
      } */
    }
  }
}

.weather__subcontainer {
  h1,
  h2,
  h3,
  p,
  i {
    color: white;
  }

  display: grid;
  justify-items: center;
}

.weather__temperature,
.weather__status {
  font-size: 1.6rem;
}

.weather__icon {
  font-size: 2rem;
}

.weather__controls {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
}

.weather__today {
  @media screen and (orientation: portrait) {
    display: none;
  }

  @media screen and (orientation: landscape) and (min-width: 1440px) and (min-height: 900px) {
    display: none;
  }
}

.forecast__container {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 1rem;
  padding-left: 0.2rem;

  .forecast__title {
    margin-top: 1rem;
    font-size: 1.2rem;
    text-align: center;
  }

  .forecast__subcontainer:not(:last-of-type) {
    margin-right: 0.4rem;
    border-right: 1px solid white;
  }

  p,
  i {
    font-size: 0.7rem;
    padding-right: 0.4rem;
    text-align: center;

    @media screen and (min-width: 360px) and (orientation: portrait) {
      font-size: 1rem;
    }
  }

  /*   .forecast__title,
  p,
  i {
    @media screen and (orientation: portrait) and (min-height: 700px) {
      font-size: 105%;
    }
  } */

  .forecast__container--low-temp {
    color: #e0e0e0;
  }
}
