@use '../abstracts/variables';
@use '../base/colors';

#weather__section {
  width: 280px;
  height: variables.$min-height;

  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 280px) {
    width: 100vw;
  }

  @media screen and (min-height: variables.$min-height) {
    height: 100vh;
  }
}

.weather__container {
  align-items: center;
  justify-items: center;
  height: 100%;
}

.weather__subcontainer {
  h1,
  h2,
  h3,
  p,
  i {
    color: white;
  }

  display: grid;
  justify-items: center;
}

.forecast__container {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 0.8rem;
  padding-left: 0.2rem;

  .forecast__title {
    text-align: center;
  }

  .forecast__subcontainer:not(:last-of-type) {
    margin-right: 0.4rem;
    border-right: 1px solid white;
  }

  p,
  i {
    padding-right: 0.4rem;
    text-align: center;
  }

  .forecast__container--low-temp {
    color: #e0e0e0;
  }
}
